<p id="notice"><%= notice %></p>

<p>
  <b>Post:</b>
  <%= @comment.post %>
</p>

<p>
  <b>Name:</b>
  <%= @comment.name %>
</p>

<p>
  <b>Email:</b>
  <%= @comment.email %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>Approved:</b>
  <%= @comment.approved %>
</p>

<p>
  <b>Spam:</b>
  <%= @comment.spam %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
