<h1>Listing pages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Slug</th>
    <th>Content</th>
    <th>Published</th>
    <th>Published on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.title %></td>
    <td><%= page.slug %></td>
    <td><%= page.content %></td>
    <td><%= page.published %></td>
    <td><%= page.published_on %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_page_path %>
