<% @posts.each do |post| %>



<article class="article-style">
	<h3><strong><%= link_to post.title, posts_date_path(post.created_at.year,post.created_at.month,post.created_at.day,post.slug) %></strong></h3>
        Posted On <strong><%= post.created_at.strftime("%B %d, %Y")%></strong>

       
   
            <p>
            	<%= post.content.html_safe %>
            </p> 
             
  
<hr>
		<p>
		    <% if post.category.present? %>
            Posted to <%= post.category.name %>
            <% else %>
            Posted to Uncategorized
            <% end %>
          | <i class="general-foundicon-clock"></i> <%= time_ago_in_words(post.created_at) %>
          | <i class="social-foundicon-chat"></i> <%= post.comment_count %>
          | <i class="social-foundicon-tag"></i> Tags : 
          <% post.tag_list.each do |t| %>
          	<%= link_to tag_path(t) do %>
                <span class="label label-info"><%= t %></span> 
             <% end %>
          <% end %>
        </p>         
</article>
<br>
<% end %>
