<% @posts.each do |post| %>



<article>
	<h3><strong><%= link_to post.title, post %></strong></h3>
        <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>

       
   
            <p>
            	<%= post.content.html_safe %>
            </p> 
             <p>
          
            <i class="general-foundicon-clock"></i> <%= time_ago_in_words(post.created_at) %>
          | <i class="social-foundicon-chat"></i> <%= post.comment_count %>
          | <i class="social-foundicon-tag"></i> Tags : 
          <% post.tag_list.each do |t| %>
          	<%= link_to tag_path(t) do %>
                <span class="label label-info"><%= t %></span> 
             <% end %>
          <% end %>
        </p>        
  
       
    
</article>
<hr>
<% end %>
